/**
 * @name Arabic Font
 * @author khalil_56
 * @version 1.0.0
 * @description Arabic Font For ArchLinux!
 * @authorId 1001499564429299753
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic+UI:wght@500&display=swap');

* {
    font-family: "Noto Sans Arabic UI", "Noto Sans Arabic", sans-serif !important;
    font-weight: 500 !important;
}
